div.nav {
    display: block;
    float: right;
    margin-right: 10px;
}

div.pfp {
    float: left;
    width: 400px;
}
div.details {
    width: 400px;
    float: right;
}

.button:link, .button:visited  {
    background-color: #3e521ea9;
    color: white;
    padding: 16px 25px;
    text-align: center;
    text-decoration: none;
    margin-left: 110px;
}

a:link {
    color:#a59e47;
    text-decoration: none;
}
a:visited {
    color: #a59e47;
    text-decoration: none;
}

p {
    color:#a59e47;
}

input[type=text], [type=password], [type=email] {
    width: 100%;
    padding: 16px 18px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #3e521e;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'opensans-regular';
}

input[type=submit] {
	background-color: #3e521e;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
    font-size: 16px;
    font-family: 'opensans-regular';
  }

select {
	width: 100%;
	padding: 14px 14px;
	margin: 8px 0;
    border: 2px solid #3e521e;
    border-radius: 4px;
	font-size: 16px;
}

.file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

.file-input::before {
    content: 'Upload File';
    width: 50%;
    display: inline-block;
    background-color: #3e521e;
    padding: 14px 20px;
    margin-top: 6px;
    user-select: none; 
    cursor: pointer;
    text-align: center;
    font-size: 12pt;
    font-family: 'opensans-regular';
    color: white;
}

.logo {
    margin-left: 10px;
}

table {
	border-collapse: collapse;
	width: 100%;
  }
  
  table, th, td {
    padding: 15px;
    background-color: white;
    text-align: center;
  }
 
 th {
	 background-color:#72813a;
	 color: white;
  }

  button {
    background-color: #3e521e;
	border: none;
	color: #a59e47;
	cursor: pointer;
    font-size: 19px;
    font-family: 'opensans-regular';
  }